*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14px;
}

body {
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.background-img {
    background-image: url("../Images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}

.nav {
    padding: 32px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    margin-left: 32px;
    font-family: Inter;
    font-style: normal;
    font-size: 18px;
}

.nav ul li a {
    color: rgb(255, 255, 255) !important;
}

.nav ul li .button {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 27px;
    font-family: Inter;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.nav ul li .button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.logo {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 37px;
    font-size: 30.4px;
}

.text-content {
    margin-left: 32px;
    margin-top: 216px;
    margin-right: 29px;
}

.rect-block {
    width: 90px;
    height: 15px;
    background: rgb(255, 255, 255);
}

.primary-heading {
    text-align: left;
    margin-top: 32px;
    font-family: "Libre Caslon Display";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: rgb(255, 255, 255);
}

.sub-heading {
    margin-top: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.text-content .button {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 27px;
    font-family: Inter;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 41px;
}

.text-content .button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.main-content {
    padding: 78px 32px 0px;
}

.secondary-heading {
    padding-bottom: 49px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.column-layout {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col {
    width: 311px;
    height: 619px;
    margin-bottom: 32px;
    outline: rgb(221, 221, 221) solid 2px;
    border-radius: 4px;
}

.col img {
    width: 311px !important;
    height: 352px !important;
}

.news-deatils {
    padding: 0px 32px !important;
}

.date {
    margin-top: 35px;
    font-family: Inter;
    font-style: normal;
    font-size: 15px;
    color: rgb(183, 183, 183);
}

.description {
    margin-top: 26px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.news-deatils a {
    padding-top: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    float: right;
    color: rgb(217, 133, 44);
}

.nf-tablet,
.nf-desktop {
    display: none !important;
}

.nf-mobile {
    display: block !important;
}

.nav-menu {
    display: none !important;
}

.hamburger {
    display: block !important;
}

@media screen and (min-width: 576px) {
    /* navigation menu list will be hide */
    .nav-menu {
        display: none !important;
    }

    /* Hamburger logo will appear */
    .hamburger {
        display: block !important;
    }

    /* images with width more than screen size will hide */
    .nf-desktop,
    .nf-tablet {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .nav-menu {
        display: none !important;
    }

    .hamburger {
        display: block !important;
    }

    .nf-tablet {
        display: block !important;
    }

    .nf-mobile,
    .nf-desktop {
        display: none !important;
    }

    .main-content {
        padding: 89px 72px 0px;
    }

    .column-layout {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }

    .col {
        width: 187px;
        height: 635px;
    }

    .col img {
        width: 187px !important;
        height: 352px !important;
    }

    .news-deatils {
        padding: 0px 32px !important;
    }

    .date {
        margin-top: 35px;
        font-family: Inter;
        font-style: normal;
        font-size: 15px;
        color: rgb(183, 183, 183);
    }

    .description {
        margin-top: 26px;
        font-family: Inter;
        font-weight: 700;
        font-size: 15px;
        color: rgb(0, 0, 0);
    }

    .news-deatils a {
        padding-top: 18px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        float: right;
        color: rgb(217, 133, 44);
    }

    .col-2 p.description {
        padding-bottom: 20px;
    }

    .col-2 a {
        padding-top: 10px;
    }

    .col-3 a {
        padding-top: 10px;
    }

    .col-3 p.description {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 992px) {
    .hamburger {
        display: none !important;
    }

    .nav-menu {
        display: flex !important;
    }

    .nf-desktop {
        display: block !important;
    }

    .nf-mobile,
    .nf-tablet {
        display: none !important;
    }

    .main-content {
        padding-top: 78px;
    }

    .col {
        width: 300px;
        height: 572px;
    }

    .col img {
        object-fit: cover;
        width: 300px !important;
    }

    .news-deatils a {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        float: right;
        color: rgb(217, 133, 44);
    }
}