*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base styles */
html {
    font-size: 14px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #000000;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* Top Container Content */
.background-img {
    background-image: url('../Images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}

.nav {
    padding: 32px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    cursor: pointer;
}

.hamburger {
    display: none;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-left: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
}

.nav ul li a {
    color: #FFFFFF !important;
}

.nav ul li .button {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 27px;
    font-family: 'Inter';
    font-size: 18px;
    color: #FFFFFF;
}

.nav ul li .button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.logo {
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    line-height: 37px;
    font-size: 30.4px;
}

.text-content {
    margin-left: 32px;
    margin-top: 216px;
    margin-right: 29px;
}

.rect-block {
    width: 90px;
    height: 15px;
    background: #FFFFFF;
}

.primary-heading {
    text-align: left;
    margin-top: 32px;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
}

.sub-heading {
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.text-content .button {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 27px;
    font-family: 'Inter';
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 41px;
}


.text-content .button:hover {
    color: #000000;
    background-color: #ffffff;
}

.main-content {
    padding: 0px 32px;
    padding-top: 78px;
}

.secondary-heading {
    padding-bottom: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-align: left;
}

.column-layout {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col {
    width: 311px;
    height: 619px;
    border-radius: 4px;
    margin-bottom: 32px;
    outline: 2px solid #DDDDDD;
    border-radius: 4px;
}

.col img {
    width: 311px !important;
    height: 619px !important;
}

.news-deatils {
    padding: 0 32px !important;
}

.date {
    margin-top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #B7B7B7;
}

.description {
    margin-top: 26px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.news-deatils a {
    padding-top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    float: right;
    color: #D9852C;
}

/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    .nav-menu {
        display: none !important;
    }

    .hamburger {
        display: block !important;
    }

    .nf-desktop,
    .nf-tablet {
        display: none !important;
    }
}

/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) {
    .nav-menu {
        display: none !important;
    }

    .hamburger {
        display: block !important;
    }

    .nf-desktop,
    .nf-tablet {
        display: none !important;
    }


    .main-content {
        padding: 0px 72px;
        padding-top: 78px;
    }

    .column-layout {
        margin-bottom: 61px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }

    .col {
        width: 187px;
        height: 635px;
        border-radius: 4px;
        margin-bottom: 32px;
        outline: 2px solid #DDDDDD;
        border-radius: 4px;
    }

    .col img {
        width: 187px !important;
        height: 352px !important;
        /* margin-bottom: 35px; */
        /* width: 410px; */
    }

    .news-deatils {
        padding: 0 32px !important;
    }

    .date {
        margin-top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-size: 15px;
        color: #B7B7B7;
    }

    .description {
        margin-top: 28px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 15px;
        color: #000000;
    }

    .news-deatils a {
        padding-top: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        float: right;
        color: #D9852C;
    }

    .col-2 p.description {
        padding-bottom: 20px;
    }

    .col-3 p.description {
        padding-bottom: 40px;
    }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {

    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none !important;
    }

    .nf-desktop,
    .nf-tablet {
        display: block !important;
    }

    .nf-mobile {
        display: none !important;
    }

    .main-content {
        padding: 0px 72px;
        padding-top: 78px;
    }

    .column-layout {
        margin-bottom: 61px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }

    .col {
        height: 352px;
        width: 311px;
        border-radius: 4px;
        margin-bottom: 32px;
        outline: 2px solid #DDDDDD;
    }

    .col img {
        width: 311px !important;
        height: 352px !important;
    }
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {

    /* CSS rules */
    .column-layout {
        margin-bottom: 43px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }
}